pandas
numpy
nltk
tqdm
matplotlib
seaborn
tensorflow==2.13.0
pickle-mixin
ipykernel
transformers==4.37.2
torch 
datasets
accelerate
python-dotenv
plotly
seaborn
scikit-learn==1.6.1
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .